<section>
  <div class="container-fluid m-3">
    <h1 class="text-center">
      Welcome to <span class="welcome-color">Quiz Game</span>
    </h1>
    <div class="container-buttons mt-5">
      <div class="row text-center">
        <div class="col-sm-6">
          <button routerLink="/start-game" class="button-welcome">Start game</button>
        </div>
        <div class="col-sm-6">
          <button class="button-welcome">Leaderboards</button>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-6">
          <button class="button-welcome">Question creator</button>
        </div>
        <div class="col-sm-6">
            <button class="button-welcome">Add a category</button>
          </div>
      </div>
    </div>
  </div>
</section>
